<div>
    <h1 class="centered">{{title}}</h1>
    <div class="card">
        <div class="card-header centered">
            <span> Log in </span>
        </div>
        <div class="card-body centered">
                <p>
                    <label for="login"> Login</label>
                    <input type="text" id="login" #login>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" #password>
                </p>
                <p>
                    <label for="email">Mail</label>
                    <input type="text" id="email" #email>
                </p>
                <button class="btn-primary" (click)="onClick(login.value, password.value, email.value)" routerLink="/products">Submit</button>
        </div>

    </div>
</div>