<div>
    <h1 class="centered">{{title}}</h1>
    <div class="card">
        <div class="card-header centered">
            <span> Register </span>
        </div>
        <div class="card-body centered">
            <form action={{route}} method="POST" id="register">
                <p>
                    <label for="login"> Login </label>
                    <input type="text" id="login" name="login">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </p>
                <p>
                    <label for="email"> mail </label>
                    <input type="text" id="email" name="email">
                </p>
                <p>
                    <label for="firstname"> firstname</label>
                    <input type="text" id="firstname" name="firstname">
                </p>
                <p>
                    <label for="lastname"> lastname</label>
                    <input type="text" id="lastname" name="lastname">
                </p>
                <button class="btn-primary" type="Submit" form="register" value="Submit">Submit</button>
            </form>
        </div>

    </div>
</div>