<div>
    <div class='card'>
        <div class='card-header'>
            <span class='h3'>{{product.name}}</span>
        </div>
        <div class='card-body'>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th>Image</th>
                <th style="min-width:100px">ID</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><img src={{product.photo}} width="200"></th>
                <th>{{product.id}}</th>
                <th>{{product.description}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>